<!DOCTYPE html>
<html>

<head>
    <title>My Web Page</title>
    <script src="networkHandler.js" type="text/javascript"></script>
    <script src="speechHandler.js" type="text/javascript"></script>
	<script src="speechHandlerZundamon.js" type="text/javascript"></script>
	<script src="voiceVoxPlayer.js" type="text/javascript"></script>
	<script src="main.js" type="module"></script>
</head>

<body>
	<div> hello, world</div>
	<button id="myButton">Click me</button>
	<button id="cancelButton">Cancel</button>
	<div id="answer"></div>
</body>

</html>